mapr_version: v4.1.0
aws_access_key="ABCDEFGHIJKLMNOPQRSTU"
aws_secret_key="ABCDEFGHIJKLMNOPQURSTUVWXYZ01234567"
license_file: /var/lib/jenkins/jobs/latest_m7_license/workspace/LatestM7License.txt
# secure_cluster: "True"

ec2_regions:
  east-1a:
    region: us-east-1
    zone: us-east-1a
    cluster_node_count: '{{cluster_node_count}}'
    edge_node_count: '{{edge_node_count}}'
    edge_node_price: '{{edge_node_price}}'
    cluster_node_price: '{{cluster_node_price}}'
    security_group:
      - vpc-internal
      - ssh-only
    vpc_subnet: subnet-8f999ba7
    image: ami-1ecae776 # Amazon Linux HVM
    assign_public_ip: false
#cluster_node_volumes:
#  - device_name: /dev/xvdf
#    volume_size: 72
#    delete_on_termination: true

classic_enabled: False
yarn_enabled:  True
spark_enabled: False
opentsdb_enabled: False
solr_enabled: False
hbase_enabled: False
drill_enabled: True
impala_enabled: False

tsdb_host: '{{groups["opentsdb"][0]}}'

# Set the cluster name 
cluster_name: vgonzalez.wf-security
mapr_user_pw: $1$98q6OUnc$2/PJybdtQk5Nk7.SLoAdv1
mapr_user_pw_clear: mapr

# ec2 settings
# be sure to look these over carefully,
# particularly security groups and keypair
#
# ec2 keypair
ec2_keypair: vgonzalez_keypair
cluster_node_type: m3.xlarge
cluster_node_price: 
edge_node_price: 
edge_node_count: 0
cluster_node_count: 3

mapr_disks: [ "/dev/xvdf", "/dev/xvdg" ]

proxy_env: { }
#proxy_env:
#  http_proxy: http://172.16.1.58:3128
#  https_proxy: http://172.16.1.58:3128
